.bi-details {
  background-color: #999cab;

  &__part {
    display: flex;
  }

  &__company {
    flex-basis: 0;
    padding-top: $height-bi-details-part;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: auto, cover;

    &--bicycle-company {
      flex-grow: 2;
      background-image: url("../img/BlockSection/Logo1.png"),
                        url("../img/BlockSection/Layer10.png");
    }

    &--vintage {
      flex-grow: 2;
      background-image: url("../img/BlockSection/Logo2.png"),
                        url("../img/BlockSection/Layer12.png");
    }

    &--bicycles {
      flex-grow: 1;
      background-image: url("../img/BlockSection/Logo3.png"),
                        url("../img/BlockSection/Layer15.png");
    }
  }

  &__description {
    position: relative;
    flex-grow: 1;
    flex-basis: 0;
    height: 500px;
  }

  &__container {
    position: relative;
    z-index: 2;
    height: $height-bi-details-part - $height-picture-under-text;
    padding: $container-padding-top 10% $container-padding-bottom;
    background-color: $white;
    transition-duration: 1s;

    &::before {
      position: absolute;
      z-index: 1;
      content: "";
      bottom: $container-padding-bottom;
      right: 10%;
      height: 2rem;
      width: 80%;
      background: linear-gradient(180deg, transparent, $white);
      transition-duration: 1s;
    }

    &::after {
      position: relative;
      content: "";
      top: 15px;
      right: -45%;
      display: block;
      height: 1px;
      width: 10%;
      background-color: #d7d7d7;
      opacity: 1;
      transition: 1s ease-out;
    }

    &:hover {
      padding-bottom: $container-padding-bottom-hover;
      height: $height-bi-details-part;

      .bi-details__text {
        max-height: $height-bi-details-part - ($container-padding-top + $container-padding-bottom-hover);
      }

      &::before {
        bottom: $container-padding-bottom-hover;
      }

      &::after {
        opacity: 0;
      }

      .bi-details__read-more {
        transition-duration: 0.45s;
        transition-delay: 0.55s;
        opacity: 1;
        visibility: visible;

        &:hover {
          transition-duration: 0.15s;
          transition-delay: 0s;
        }
      }
    }

    &:not(:hover) {
      .bi-details__read-more {
        transition-duration: 0.2s;
        opacity: 0;
      }
    }
  }

  &__text {
    padding-top: 60px;
    max-height: $height-bi-details-part - ($height-picture-under-text + $container-padding-top + $container-padding-bottom);
    overflow: hidden;
    background-position: 50% 0;
    background-repeat: no-repeat;
    transition-duration: 1s;
    
    &--frame {
      background-image: url("../img/BlockSection/Icon2.png");
    }

    &--sprocket {
      background-image: url("../img/BlockSection/Icon3.png");
    }

    &--fork {
      background-image: url("../img/BlockSection/Icon4.png");
    }
  }

  &__header {
    padding-bottom: 1.125rem;
    font-size: 1.125rem;
    line-height: 1.8rem;
    font-weight: 700;
    letter-spacing: 0.15rem;
    word-spacing: 0.2rem;
  }

  &__content {
    position: relative;
    font-size: 1rem;
    line-height: 1.8rem;
    word-spacing: 0.15rem;
    color: $text-color-lighter;
    text-align: justify;
  }

  &__read-more {
    position: absolute;
    left: 50%;
    bottom: 2rem;
    transform: translate(-50%, 0);
    color: $text-color;
    opacity: 0;
    visibility: hidden;

    &:hover {
      color: $main-theme-color;
    }
  }

  &__picture {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: $height-picture-under-text;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    &--vintage {
      background-image: url("../img/BlockSection/Layer11.png");
    }

    &--boriosa {
      background-image: url("../img/BlockSection/Layer13.png");
    }

    &--retro {
      background-image: url("../img/BlockSection/Layer16.png");
    }
  }

  &__additional {
    flex-grow: 1;
    flex-basis: 0;
    background: url("../img/BlockSection/Layer14.png") 50% 50% no-repeat;
    background-size: cover;
  }

  @media screen and (min-width: $breakpoint-md) and (max-width: $breakpoint-lg - 1px) {
    &__company {
      &--bicycle-company,
      &--vintage {
        flex-grow: 3;
      }

      &--bicycles {
        flex-grow: 2;
      }
    }

    &__description {
      flex-grow: 2;
    }
  }

  @media screen and (min-width: $breakpoint-sm) and (max-width: $breakpoint-md - 1px) {
    &__company {
      &--bicycle-company,
      &--vintage {
        flex-grow: 1;
      }
    }

    &__additional {
      flex-grow: 0;
    }
  }

  @media screen and (min-width: $breakpoint-xs) and (max-width: $breakpoint-sm - 1px) {
    &__company {
      &--bicycle-company,
      &--vintage {
        flex-grow: 1;
      }

      &--bicycles {
        background-size: 80%, cover;
      }
    }

    &__description {
      flex-grow: 2;
    }

    &__additional {
      flex-grow: 0;
    }
  }

  @media screen and (max-width: $breakpoint-xs - 1px) {
    &__company {
      &--bicycle-company,
      &--vintage,
      &--bicycles {
        flex-grow: 0;
      }
    }

    &__container {
      padding-left: 7.5%;
      padding-right: 7.5%;

      &::before {
        right: 7.5%;
        width: 85%;
      }
    }

    &__additional {
      flex-grow: 0;
    }
  }
}