.comments {
  position: relative;
  padding: 6rem 15% 8rem;
  background-color: $background-grey;
  
  &__container {
    position: relative;
    display: block;
    padding: 50px 0;
    background: url("../img/twitter-icon.png") 50% 0 no-repeat;
    overflow: hidden;
  }

  &__label {
    display: block;
    background-color: $background-grey;

    &--first {
      position: relative;
      top: 0;
    }

    &--second {
      position: absolute;
      top: 100%;
    }

    &--third {
      position: absolute;
      top: 100%;
    }
  }

  &__user {
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
  }

  &__time {
    margin-left: 0.5rem;
    font-size: 1.125rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    color: $text-color-lighter;
  }

  &__text {
    display: block;
    margin-top: 1.5rem;
    font-size: 1.25rem;
    font-weight: 400;
    font-style: italic;
    color: $text-color-lighter;
  }

  &__button {
    position: absolute;
    bottom: 4rem;
    visibility: hidden;

    &::after {
      position: absolute;
      content: "";
      box-sizing: border-box;
      width: 14px;
      height: 14px;
      border: 1px solid $text-color-lighter;
      border-radius: 50%;
      background-color: $background-grey;
      transition: 0.2s;
      cursor: pointer;
      visibility: visible;
    }

    &--first {
      &:checked ~ .comments__container .comments__label {
        &--first {
          position: relative;
          top: 0;
        }

        &--second {
          position: absolute;
          top: 100%;
        }

        &--third {
          position: absolute;
          top: 100%;
        }
      }

      &::after {
        left: -27px;
      }
    }

    &--second {
      &:checked ~ .comments__container .comments__label {
        &--first {
          position: absolute;
          top: 100%;
        }

        &--second {
          position: relative;
          top: 0;
        }

        &--third {
          position: absolute;
          top: 100%;
        }
      }

      &::after {
        left: -7px;
      }
    }

    &--third {
      &:checked ~ .comments__container .comments__label {
        &--first {
          position: absolute;
          top: 100%;
        }

        &--second {
          position: absolute;
          top: 100%;
        }

        &--third {
          position: relative;
          top: 0;
        }
      }

      &::after {
        left: 13px;
      }
    }

    &:checked::after {
      background-color: $text-color-lighter;
    }
  }
}