.comments {
  position: relative;
  padding: 11vh 15% 111px;
  background-color: $background-grey;

  &__button {
    position: absolute;
    left: -9999px;

    &--first {
      &:checked ~ .comments__container .comments__label {
        &--first {
          left: 0;
        }

        &--second {
          left: 100%;
        }

        &--third {
          left: 200%;
        }
      }
    }

    &--second {
      &:checked ~ .comments__container .comments__label {
        &--first {
          left: -100%;
        }

        &--second {
          left: 0;
        }

        &--third {
          left: 100%;
        }
      }
    }

    &--third {
      &:checked ~ .comments__container .comments__label {
        &--first {
          left: -200%;
        }

        &--second {
          left: -100%;
        }

        &--third {
          left: 0;
        }
      }
    }

    &:checked + .comments__switch {
      background-color: $text-color-lighter;
    }
  }

  &__switch {
    position: absolute;
    bottom: 72px;
    transform: translate(-50%, 0);
    display: block;
    width: 15px;
    height: 15px;
    border: 1px solid $text-color-lighter;
    border-radius: 50%;
    background-color: $background-grey;
    transition: 0.2s;
    cursor: pointer;

    &--button1 {
      left: calc(50% - 25px);
    }

    &--button2 {
      left: 50%;
    }

    &--button3 {
      left: calc(50% + 25px);
    }
  }
  
  &__container {
    position: relative;
    display: block;
    padding-top: 50px;
    background: url("../img/twitter-icon.png") 50% 0 no-repeat;
    overflow: hidden;

    @media screen and (min-width: 1600px) {
      @include comment-container-height(1, 2);
    }

    @media screen and (min-width: 1200px) and (max-width: 1599px) {
      @include comment-container-height(1, 3);
    }

    @media screen and (min-width: 850px) and (max-width: 1199px) {
      @include comment-container-height(1, 4);
    }

    @media screen and (min-width: 675px) and (max-width: 849px) {
      @include comment-container-height(1, 5);
    }

    @media screen and (min-width: 470px) and (max-width: 674px) {
      @include comment-container-height(1, 6);
    }

    @media screen and (min-width: 405px) and (max-width: 469px) {
      @include comment-container-height(2, 7);
    }

    @media screen and (min-width: 350px) and (max-width: 404px) {
      @include comment-container-height(2, 8);
    }

    @media screen and (max-width: 349px) {
      @include comment-container-height(2, 9);
    }
  }

  &__label {
    position: absolute;
    top: 50px;
    display: block;
    width: 100%;
    background-color: $background-grey;
    transition-duration: 1s;

    &--first {
      left: 0;
    }

    &--second {
      left: 100%;
    }

    &--third {
      left: 200%;
    }
  }

  &__user {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.6px;
  }

  &__time {
    margin-left: 8px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1.6px;
    color: $text-color-lighter;
  }

  &__text {
    display: block;
    margin-top: 24px;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    color: $text-color-lighter;
  }

  @media screen and (max-width: $breakpoint-xs - 1px) {
    @include padding-sides-mobile;
  }
}