.footer {
  padding: 5.625rem 15%;
  background-color: $background-grey;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__contacts {

  }

  &__line {
    display: block;
    font-size: 1rem;
    color: $text-color-lighter;
    text-align: left;

    &--bold {
      font-weight: 700;
    }

    &--italic {
      font-weight: 400;
      font-style: italic;
    }
  }

  &__social {
    display: flex;
    justify-content: center;
  }

  &__href {
    display: block;
    width: 34px;
    height: 34px;
    border-radius: 50%;

    &--twitter {
      background: $twitter-theme url(../img/social-twitter.png) no-repeat;
    }

    &--facebook {
      margin: 0 1rem;
      background: $facebook-theme url(../img/social-facebook.png) no-repeat;
    }

    &--pinterest {
      background: $pinterest-theme url(../img/social-pinterest.png) no-repeat;
    }

    &:hover {
      filter: saturate(1.5);
    }
  }

  &__creator {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__yebo-icon {
    margin-left: 0.5rem;
  }

  @media screen and (min-width: 768px) and (max-width: 991px) {
    &__social {
      width: 100%;
      margin-top: 3rem;
      order: 1;
    }
  }

  @media screen and (min-width: 576px) and (max-width: 767px) {
    &__contacts {
      width: 100%;
      margin-bottom: 3rem;
    }
  }

  @media screen and (max-width: 575px) {
    &__contacts,
    &__social,
    &__creator {
      width: 100%;
    }

    &__social {
      margin: 3rem 0;
    }
  }
}