.footer {
  padding: 9vh 15%;
  background-color: $background-grey;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__line {
    display: block;
    font-size: 1rem;
    color: $text-color-lighter;
    text-align: left;

    &--bold {
      font-weight: 700;
    }

    &--italic {
      font-weight: 400;
      font-style: italic;
    }
  }

  &__social {
    display: flex;
    justify-content: center;
  }

  &__href {
    display: block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    transition-duration: 0.1s;

    &--twitter {
      background: $twitter-theme url(../img/social-twitter.png) no-repeat;
    }

    &--facebook {
      margin: 0 16px;
      background: $facebook-theme url(../img/social-facebook.png) no-repeat;
    }

    &--pinterest {
      background: $pinterest-theme url(../img/social-pinterest.png) no-repeat;
    }

    &:hover {
      filter: saturate(1.5);
      box-shadow: 0 0 2px $text-color;
    }
  }

  &__creator {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__yebo-icon {
    margin-left: 8px;
  }

  @media screen and (min-width: $breakpoint-md) {
    &__contacts,
    &__social,
    &__creator {
      width: calc(100% / 3);
    }
  }

  @media screen and (min-width: $breakpoint-sm) and (max-width: $breakpoint-md - 1px) {
    &__social {
      width: 100%;
      margin-top: 3rem;
      order: 1;
    }
  }

  @media screen and (min-width: $breakpoint-xs) and (max-width: $breakpoint-sm - 1px) {
    &__contacts {
      width: 100%;
      margin-bottom: 3rem;
    }
  }

  @media screen and (max-width: $breakpoint-xs - 1px) {
    @include padding-sides-mobile;

    &__contacts,
    &__social,
    &__creator {
      width: 100%;
    }

    &__social {
      margin: 3rem 0;
    }
  }
}