.header {
  height: 100vh;
  background: url("../img/Logo.png") 50% 30px no-repeat,
              url("../img/TopLayer.png") 50% 50% no-repeat;
  background-size: auto, cover;

  &__menu {
    padding: 45px 0;
    display: flex;
    justify-content: center;
  }

  &__href {
    padding: 15px 35px;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    color: $text-color;
    transition-duration: 0.1s;
    cursor: pointer;

    &--work {
      margin-right: 70px;

      &::before {
        position: relative;
        left: -35px;
        content: ".";
        cursor: default;
      }
    }

    &--shop {
      margin-left: 70px;

      &::after {
        position: relative;
        right: -35px;
        content: ".";
        cursor: default;
      }
    }

    &:hover {
      color: $main-theme-color;
    }
  }

  @media screen and (max-width: $breakpoint-sm - 1px) {
    &__menu {
      padding: 25px 0;
      flex-wrap: wrap;
    }

    &__href {
      margin: 0;
      width: 50%;

      &--about {
        padding-right: 0;
        padding-left: 47px;
        order: 2;
      }

      &--work {
        padding-right: 47px;
        padding-left: 0;
        order: 1;

        &::before {
          display: none;
        }
      }

      &--shop {
        padding-right: 47px;
        padding-left: 0;
        order: 3;

        &::after {
          display: none;
        }
      }

      &--contact {
        padding-right: 0;
        padding-left: 47px;
        order: 4;
      }
    }
  }

  @media screen and (max-height: 500px) {
    background-position: 50% 15px, 50% 50%;
    background-size: auto 15%, cover;
  }
}