.links {
  padding: 2.5rem 15%;
  background-color: $links-background;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__href {
    display: block;
    margin: 1rem 0;
    padding: 0.875rem 0;
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 0.15rem;
    word-spacing: 0.2rem;
    color: $main-theme-color;
    border: 1px solid $main-theme-color;
    transition-duration: 0.2s;
    cursor: pointer;

    &:hover {
      color: $button-hover;
      border-color: $button-hover;
    }

    &--visit,
    &--contact {
      width: 25%;
    }

    &--discover {
      width: 35%;
    }

    @media screen and (min-width: $breakpoint-xs) and (max-width: $breakpoint-md - 1px) {
      &--visit,
      &--contact {
        width: 45%;
      }

      &--discover {
        order: 1;
        width: 100%;
      }
    }
  }

  @media screen and (max-width: $breakpoint-xs - 1px) {
    @include padding-sides-mobile;

    &__href {
      width: 100%;
    }
  }
}