.shop {
  &__catalog {
    display: flex;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 2;
    flex-basis: 2%;
  }

  &__box {
    flex-grow: 1;
    padding-bottom: $height-catalog-box-lg;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    
    &--1 {
      flex-basis: 1%;
      background-image: url("../img/SlideSection/slide1.png");
    }
    
    &--2 {
      flex-basis: 1%;
      background-image: url("../img/SlideSection/slide2.png");
    }
    
    &--3 {
      flex-basis: 100%;
      background-image: url("../img/SlideSection/slide3.png");
    }
    
    &--4 {
      flex-basis: 1%;
      padding-top: $height-catalog-box-lg;
      background-image: url("../img/SlideSection/slide4.png");
    }
    
    &--5 {
      flex-basis: 1%;
      padding-top: $height-catalog-box-lg;
      background-image: url("../img/SlideSection/slide5.png");
    }
    
    &--6 {
      flex-basis: 100%;
      background-image: url("../img/SlideSection/slide6.png");
    }
    
    &--7 {
      flex-basis: 1%;
      background-image: url("../img/SlideSection/slide7.png");
    }
    
    &--8 {
      flex-basis: 1%;
      background-image: url("../img/SlideSection/slide8.png");
    }
  }

  @media screen and (min-width: 768px) and (max-width: 991px) {
    &__catalog {
      flex-wrap: wrap;
    }

    &__container--2 {
      flex-basis: 100%;
      flex-wrap: nowrap;
    }

    &__box {
      padding-bottom: $height-catalog-box-md;

      &--4,
      &--5 {
        padding-top: $height-catalog-box-md;
      }

      &--6 {
        flex-grow: 2;
        flex-basis: 2%;
      }
    }
  }

  @media screen and (min-width: 576px) and (max-width: 767px) {
    &__catalog {
      flex-wrap: wrap;
    }

    &__container {
      flex-basis: 66%;
    }

    &__box {
      padding-bottom: $height-catalog-box-sm;

      &--4,
      &--5 {
        flex-basis: 33%;
        padding-top: $height-catalog-box-sm;
      }
    }
  }

  @media screen and (max-width: 575px) {
    &__catalog {
      flex-wrap: wrap;
    }

    &__container {
      flex-basis: 100%;
    }

    &__box {
      padding-bottom: $height-catalog-box-xs;

      &--4,
      &--5 {
        flex-basis: 50%;
        padding-top: $height-catalog-box-xs;
      }
    }
  }
}