$text-color: #4d4959;
$text-color-lighter: #848789;
$background-grey: #f7f7f7;
$white: #ffffff;

$height-bi-details-part: 500px;
$height-picture-under-text: 150px;

$height-catalog-box-lg: 100vw / 6;
$height-catalog-box-md: 100vw / 4;
$height-catalog-box-sm: 100vw / 3;
$height-catalog-box-xs: 100vw / 2;

$links-background: #282f35;
$link-color: #64c29e;
$link-hover: #eeeeee;

$placeholder-color: #aaaaaa;

$twitter-theme: #78cdf0;
$facebook-theme: #537bbd;
$pinterest-theme: #eb5755;