* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Lato', 'Arial', sans-serif;
  text-decoration: none;
  text-align: center;
}

/*
$height-bi-details-part: 37.48828vw;
$height-picture-under-text: 12.48439vw;
*/
.header {
  height: 100vh;
  background: url("../img/Logo.png") 50% 30px no-repeat, url("../img/TopLayer.png") 50% 50% no-repeat;
  -webkit-background-size: auto, cover;
  background-size: auto, cover;
}

.header__menu {
  padding: 45px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header__href {
  padding: 15px 35px;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: #4d4959;
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  cursor: pointer;
}

.header__href--work {
  margin-right: 70px;
}

.header__href--work::before {
  position: relative;
  left: -35px;
  content: ".";
  cursor: default;
}

.header__href--shop {
  margin-left: 70px;
}

.header__href--shop::after {
  position: relative;
  right: -35px;
  content: ".";
  cursor: default;
}

.header__href:hover {
  color: #64c29e;
}

@media screen and (max-width: 767px) {
  .header__menu {
    padding: 25px 0;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .header__href {
    margin: 0;
    width: 50%;
  }
  .header__href--about {
    padding-right: 0;
    padding-left: 47px;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  .header__href--work {
    padding-right: 47px;
    padding-left: 0;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .header__href--work::before {
    display: none;
  }
  .header__href--shop {
    padding-right: 47px;
    padding-left: 0;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
  }
  .header__href--shop::after {
    display: none;
  }
  .header__href--contact {
    padding-right: 0;
    padding-left: 47px;
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4;
  }
}

@media screen and (max-height: 500px) {
  .header {
    background-position: 50% 20px, 50% 50%;
    -webkit-background-size: auto 15%, cover;
    background-size: auto 15%, cover;
  }
}

.about {
  padding: 11vh 15% 12vh;
  background-color: #f7f7f7;
}

.about__container {
  padding-top: 70px;
  background: url("../img/Icon.png") 50% 0 no-repeat;
}

.about__header {
  padding-bottom: 1.25rem;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
  word-spacing: 0.2rem;
}

.about__content {
  font-size: 1.125rem;
  line-height: 2rem;
  word-spacing: 0.15rem;
  color: #848789;
}

@media screen and (max-width: 575px) {
  .about {
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
  .about__content {
    text-align: justify;
  }
}

.bi-details {
  background-color: #999cab;
}

.bi-details__part {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.bi-details__company {
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  padding-top: 500px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-background-size: auto, cover;
  background-size: auto, cover;
}

.bi-details__company--bicycle-company {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  background-image: url("../img/BlockSection/Logo1.png"), url("../img/BlockSection/Layer10.png");
}

.bi-details__company--vintage {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  background-image: url("../img/BlockSection/Logo2.png"), url("../img/BlockSection/Layer12.png");
}

.bi-details__company--bicycles {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background-image: url("../img/BlockSection/Logo3.png"), url("../img/BlockSection/Layer15.png");
}

.bi-details__description {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
}

.bi-details__container {
  position: relative;
  z-index: 2;
  height: 350px;
  padding: 56px 10% 48px;
  background-color: #ffffff;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

.bi-details__container::before {
  position: absolute;
  z-index: 1;
  content: "";
  bottom: 48px;
  right: 10%;
  height: 2rem;
  width: 80%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#ffffff));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), #ffffff);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0), #ffffff);
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), #ffffff);
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

.bi-details__container::after {
  position: relative;
  content: "";
  top: 15px;
  right: -45%;
  display: block;
  height: 1px;
  width: 10%;
  background-color: #d7d7d7;
  opacity: 1;
  -webkit-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
}

.bi-details__container:hover {
  padding-bottom: 88px;
  height: 500px;
}

.bi-details__container:hover .bi-details__text {
  max-height: 356px;
}

.bi-details__container:hover::before {
  bottom: 88px;
}

.bi-details__container:hover::after {
  opacity: 0;
}

.bi-details__container:hover .bi-details__read-more {
  -webkit-transition-duration: 0.45s;
  -o-transition-duration: 0.45s;
  transition-duration: 0.45s;
  -webkit-transition-delay: 0.55s;
  -o-transition-delay: 0.55s;
  transition-delay: 0.55s;
  opacity: 1;
  visibility: visible;
}

.bi-details__container:hover .bi-details__read-more:hover {
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

.bi-details__container:not(:hover) .bi-details__read-more {
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  opacity: 0;
}

.bi-details__text {
  padding-top: 60px;
  max-height: 246px;
  overflow: hidden;
  background-position: 50% 0;
  background-repeat: no-repeat;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

.bi-details__text--frame {
  background-image: url("../img/BlockSection/Icon2.png");
}

.bi-details__text--sprocket {
  background-image: url("../img/BlockSection/Icon3.png");
}

.bi-details__text--fork {
  background-image: url("../img/BlockSection/Icon4.png");
}

.bi-details__header {
  padding-bottom: 1.125rem;
  font-size: 1.125rem;
  line-height: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
  word-spacing: 0.2rem;
}

.bi-details__content {
  position: relative;
  font-size: 1rem;
  line-height: 1.8rem;
  word-spacing: 0.15rem;
  color: #848789;
  text-align: justify;
}

.bi-details__read-more {
  position: absolute;
  left: 50%;
  bottom: 2rem;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  color: #4d4959;
  opacity: 0;
  visibility: hidden;
}

.bi-details__read-more:hover {
  color: #64c29e;
}

.bi-details__picture {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 150px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.bi-details__picture--vintage {
  background-image: url("../img/BlockSection/Layer11.png");
}

.bi-details__picture--boriosa {
  background-image: url("../img/BlockSection/Layer13.png");
}

.bi-details__picture--retro {
  background-image: url("../img/BlockSection/Layer16.png");
}

.bi-details__additional {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  background: url("../img/BlockSection/Layer14.png") 50% 50% no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .bi-details__company--bicycle-company, .bi-details__company--vintage {
    -webkit-box-flex: 3;
    -webkit-flex-grow: 3;
    -ms-flex-positive: 3;
    flex-grow: 3;
  }
  .bi-details__company--bicycles {
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
  }
  .bi-details__description {
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .bi-details__company--bicycle-company, .bi-details__company--vintage {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .bi-details__additional {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .bi-details__company--bicycle-company, .bi-details__company--vintage {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .bi-details__company--bicycles {
    -webkit-background-size: 80%, cover;
    background-size: 80%, cover;
  }
  .bi-details__description {
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
  }
  .bi-details__additional {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
  }
}

@media screen and (max-width: 575px) {
  .bi-details__company--bicycle-company, .bi-details__company--vintage, .bi-details__company--bicycles {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
  }
  .bi-details__container {
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
  .bi-details__container::before {
    right: 7.5%;
    width: 85%;
  }
  .bi-details__additional {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
  }
}

.comments {
  position: relative;
  padding: 11vh 15% 170px;
  background-color: #f7f7f7;
}

.comments__button {
  position: absolute;
  left: -9999px;
}

.comments__button--first:checked ~ .comments__container .comments__label--first {
  position: relative;
  top: 0;
}

.comments__button--first:checked ~ .comments__container .comments__label--second {
  position: absolute;
  top: 100%;
}

.comments__button--first:checked ~ .comments__container .comments__label--third {
  position: absolute;
  top: 100%;
}

.comments__button--second:checked ~ .comments__container .comments__label--first {
  position: absolute;
  top: 100%;
}

.comments__button--second:checked ~ .comments__container .comments__label--second {
  position: relative;
  top: 0;
}

.comments__button--second:checked ~ .comments__container .comments__label--third {
  position: absolute;
  top: 100%;
}

.comments__button--third:checked ~ .comments__container .comments__label--first {
  position: absolute;
  top: 100%;
}

.comments__button--third:checked ~ .comments__container .comments__label--second {
  position: absolute;
  top: 100%;
}

.comments__button--third:checked ~ .comments__container .comments__label--third {
  position: relative;
  top: 0;
}

.comments__button:checked + .comments__switch {
  background-color: #848789;
}

.comments__switch {
  position: absolute;
  bottom: 72px;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid #848789;
  border-radius: 50%;
  background-color: #f7f7f7;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.comments__switch--button1 {
  left: -webkit-calc(50% - 25px);
  left: calc(50% - 25px);
}

.comments__switch--button2 {
  left: 50%;
}

.comments__switch--button3 {
  left: -webkit-calc(50% + 25px);
  left: calc(50% + 25px);
}

.comments__container {
  position: relative;
  display: block;
  padding-top: 50px;
  background: url("../img/twitter-icon.png") 50% 0 no-repeat;
  overflow: hidden;
}

.comments__label {
  display: block;
  background-color: #f7f7f7;
}

.comments__label--first {
  position: relative;
  top: 0;
}

.comments__label--second {
  position: absolute;
  top: 100%;
}

.comments__label--third {
  position: absolute;
  top: 100%;
}

.comments__user {
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.comments__time {
  margin-left: 0.5rem;
  font-size: 1.125rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: #848789;
}

.comments__text {
  display: block;
  margin-top: 1.5rem;
  font-size: 1.25rem;
  font-weight: 400;
  font-style: italic;
  color: #848789;
}

@media screen and (max-width: 575px) {
  .comments {
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
}

.shop {
  background-color: #282f35;
}

.shop__catalog {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.shop__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  -webkit-flex-basis: 2%;
  -ms-flex-preferred-size: 2%;
  flex-basis: 2%;
}

.shop__box {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-bottom: 16.66667vw;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.shop__box--1 {
  -webkit-flex-basis: 1%;
  -ms-flex-preferred-size: 1%;
  flex-basis: 1%;
  background-image: url("../img/SlideSection/slide1.png");
}

.shop__box--2 {
  -webkit-flex-basis: 1%;
  -ms-flex-preferred-size: 1%;
  flex-basis: 1%;
  background-image: url("../img/SlideSection/slide2.png");
}

.shop__box--3 {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  background-image: url("../img/SlideSection/slide3.png");
}

.shop__box--4 {
  -webkit-flex-basis: 1%;
  -ms-flex-preferred-size: 1%;
  flex-basis: 1%;
  padding-top: 16.66667vw;
  background-image: url("../img/SlideSection/slide4.png");
}

.shop__box--5 {
  -webkit-flex-basis: 1%;
  -ms-flex-preferred-size: 1%;
  flex-basis: 1%;
  padding-top: 16.66667vw;
  background-image: url("../img/SlideSection/slide5.png");
}

.shop__box--6 {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  background-image: url("../img/SlideSection/slide6.png");
}

.shop__box--7 {
  -webkit-flex-basis: 1%;
  -ms-flex-preferred-size: 1%;
  flex-basis: 1%;
  background-image: url("../img/SlideSection/slide7.png");
}

.shop__box--8 {
  -webkit-flex-basis: 1%;
  -ms-flex-preferred-size: 1%;
  flex-basis: 1%;
  background-image: url("../img/SlideSection/slide8.png");
}

.shop__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(100, 194, 158, 0.75);
  opacity: 0;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  cursor: pointer;
}

.shop__link:hover {
  opacity: 1;
}

.shop__link-style {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.shop__link-picture {
  margin: auto;
  width: 51px;
  height: 30px;
  background-image: url("../img/SlideSection/Shape13.png");
}

.shop__link-label {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.6px;
  word-spacing: 2.4px;
  color: #ffffff;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .shop__catalog {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .shop__container--2 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .shop__box {
    padding-bottom: 25vw;
  }
  .shop__box--4, .shop__box--5 {
    padding-top: 25vw;
  }
  .shop__box--6 {
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    -webkit-flex-basis: 2%;
    -ms-flex-preferred-size: 2%;
    flex-basis: 2%;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .shop__catalog {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .shop__container {
    -webkit-flex-basis: 66%;
    -ms-flex-preferred-size: 66%;
    flex-basis: 66%;
  }
  .shop__box {
    padding-bottom: 33.33333vw;
  }
  .shop__box--4, .shop__box--5 {
    -webkit-flex-basis: 33%;
    -ms-flex-preferred-size: 33%;
    flex-basis: 33%;
    padding-top: 33.33333vw;
  }
}

@media screen and (max-width: 575px) {
  .shop__catalog {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .shop__container {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .shop__box {
    padding-bottom: 50vw;
  }
  .shop__box--4, .shop__box--5 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    padding-top: 50vw;
  }
}

.links {
  padding: 2.5rem 15%;
  background-color: #282f35;
}

.links__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.links__href {
  display: block;
  margin: 1rem 0;
  padding: 0.875rem 0;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
  word-spacing: 0.2rem;
  color: #64c29e;
  border: 1px solid #64c29e;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  cursor: pointer;
}

.links__href:hover {
  color: #eeeeee;
  border-color: #eeeeee;
}

.links__href--visit, .links__href--contact {
  width: 25%;
}

.links__href--discover {
  width: 35%;
}

@media screen and (min-width: 576px) and (max-width: 991px) {
  .links__href--visit, .links__href--contact {
    width: 45%;
  }
  .links__href--discover {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    width: 100%;
  }
}

@media screen and (max-width: 575px) {
  .links {
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
  .links__href {
    width: 100%;
  }
}

.email {
  padding: 11vh 15%;
  background-color: #ffffff;
}

.email__container {
  padding-top: 85px;
  background: url("../img/Logo.png") 50% 0 no-repeat;
}

.email__form {
  font-size: 1.5rem;
}

.email__label {
  display: block;
  margin: 2rem 0;
  font-weight: 400;
  font-style: italic;
  color: #848789;
  cursor: pointer;
}

.email__input {
  padding: 20px 20px 18px;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #848789;
  text-align: left;
  border: 1px solid #aaaaaa;
}

.email__input::-webkit-input-placeholder {
  font-style: italic;
  color: #aaaaaa;
}

.email__input::-moz-placeholder {
  font-style: italic;
  color: #aaaaaa;
}

.email__input:-ms-input-placeholder {
  font-style: italic;
  color: #aaaaaa;
}

.email__input::placeholder {
  font-style: italic;
  color: #aaaaaa;
}

.email__button {
  padding: 20px 32px;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #ffffff;
  background-color: #64c29e;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  cursor: pointer;
}

.email__button:hover {
  color: #64c29e;
  background-color: #ffffff;
  -webkit-box-shadow: inset 0 0 0 3px #64c29e;
  box-shadow: inset 0 0 0 3px #64c29e;
}

@media screen and (max-width: 575px) {
  .email {
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
  .email__input {
    width: 100%;
  }
  .email__button {
    width: 100%;
    margin-top: 1rem;
  }
}

.footer {
  padding: 9vh 15%;
  background-color: #f7f7f7;
}

.footer__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__line {
  display: block;
  font-size: 1rem;
  color: #848789;
  text-align: left;
}

.footer__line--bold {
  font-weight: 700;
}

.footer__line--italic {
  font-weight: 400;
  font-style: italic;
}

.footer__social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer__href {
  display: block;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

.footer__href--twitter {
  background: #78cdf0 url(../img/social-twitter.png) no-repeat;
}

.footer__href--facebook {
  margin: 0 16px;
  background: #537bbd url(../img/social-facebook.png) no-repeat;
}

.footer__href--pinterest {
  background: #eb5755 url(../img/social-pinterest.png) no-repeat;
}

.footer__href:hover {
  -webkit-filter: saturate(1.5);
  filter: saturate(1.5);
  -webkit-box-shadow: 0 0 2px #4d4959;
  box-shadow: 0 0 2px #4d4959;
}

.footer__creator {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__yebo-icon {
  margin-left: 8px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .footer__social {
    width: 100%;
    margin-top: 3rem;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .footer__contacts {
    width: 100%;
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 575px) {
  .footer {
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
  .footer__contacts, .footer__social, .footer__creator {
    width: 100%;
  }
  .footer__social {
    margin: 3rem 0;
  }
}
